@model ZenithSociety.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ActivityId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ActivityId" class ="form-control" asp-items="ViewBag.ActivityId"></select>
            </div>
        </div>
        <div>
            <h5>Write dates in this form: 2016-01-01 (year-month-day)</h5>
        </div>
        <div class="form-group">
            <label asp-for="EventFromDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventFromDate" class="form-control" />
                <span asp-validation-for="EventFromDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventToDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventToDate" class="form-control" />
                <span asp-validation-for="EventToDate" class="text-danger" />
                @Html.ValidationMessageFor(model => model.EventToDate)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsActive" />
                    <label asp-for="IsActive"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
