@model IEnumerable<ZenithWebSite.Models.Event>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zenith Society's upcoming events</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            @foreach (var group in Model.OrderBy(e => (e.EventFromDate.Day)).GroupBy(e => (e.EventFromDate.Day)))
            {
                <tr>
                    <th colspan="2">
                        @group.First().EventFromDate.ToString("dddd MMMM dd, yyyy")
                    </th>
                </tr>

                foreach (var singleEvent in group)
                {

                    <tr>
                        <td>@singleEvent.EventFromDate.ToString("hh:mm tt") - @singleEvent.EventToDate.ToString("hh:mm tt")</td>
                        <td> @singleEvent.Activity.ActivityDescription</td>
                    </tr>
                }
            }
        </table>

    </div>
</div>

